.checkout {
    display: flex;
  flex-direction: column;
  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 400px;
   height: 400px;
   
  margin-top: 80px;
  border-radius: 5px;
}
.checkout h3 {
    margin-left: 30px;
    margin-top: 30px;
}



.checkout h1 {
    margin : 0 auto 0 auto;
    margin-top: 10px;
}
.checkout button {
    background: rgb(45, 177, 33) ;
  width: 100px;
  height: auto;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: auto ;
  transform: scale(1.5);
  border-color: green;
  

}



.cart-and-checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

