.navbar {
    
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  align-items: center;
  /* padding: 1.2rem; */
  background: rgb(0, 0, 0);
  color: white;
 
  top: 0;
  left: 0;
}
.navbar h2:hover {
  transform: scale(1.1);
}
.shopping-cart {
  color: white;
  text-decoration: none;
}

.cart-icon:hover {
  transform: scale(1.1);
}
.badge:hover {
   transform: scale(1.1);
}

