.navbar {
     /* width: 100%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.2rem;
  background: rgb(28, 28, 129);
  color: white;
  position: sticky;
  top: 0;
  left: 0;
}
.navbar h2:hover {
  transform: scale(1.1);
}
.shopping-cart {
  color: white;
}

.cart-icon:hover {
  transform: scale(1.1);
}
.badge:hover {
   transform: scale(1.1);
}